body {
    background-color: #f7fafc;
    font-family: 'Montserrat', sans-serif;
}

.header-wrapper {
    background-color: #ffffff;
    width: 100%;
}

.header {
    width: 60%;
    display: flex;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 0;
}

.main-banner {
    background-image: url(img/header.png);
    width: 100%;
    height: 632px;
    z-index: -1;
    background-size: auto;
    background-position-x: 50%;
}

.main-banner__content {
    margin: 0 auto;
    max-width: 1170px;
    height: 632px;
    position: relative;
}

.main-banner__buttons {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: absolute;
    top: 350px;
    font-size: 16pt;
}

.main-banner__button-1 {
    background-color: #12a06e;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 25px 20px;
    text-align: center;
    margin-bottom: 26px;
}

.main-banner__button-2 {
    background-color: #1b609a;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 25px 20px;
    text-align: center;
}

.content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.benefits {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: -21px;
}

.benefits-item {
    width: 251px;
    height: 192px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
}

.benefits-item img {
    width: 37px;
    height: 45px;
    margin: 0 auto;
}

.content-block {
    width: 100%;
    height: 306px;
    overflow: visible;
    margin-top: 55px;
    background-color: #ffffff;
    display: flex;
    position: relative;
}

.content__title {
    font-size: 30pt;
    margin-bottom: 25px;
}

.content__text {
    font-size: 18pt;
}

.block-1 .content-block__body {
    margin-left: 406px;
}

.content-block__body {
    width: 762px;
    margin-left: 55px;
    margin-top: 45px;
}

.block-1 img {
    position: absolute;
    left: -50px;
}

.block-2 img {
    position: absolute;
    right: 0;
    top: -30px;
}

.block-3 .content-block__body {
    margin-left: 406px;
}

.block-3 img {
    position: absolute;
    left: -60px;
}

.block-4 img {
    position: absolute;
    right: 0;
    top: -15px;
}

.chavo-wrapper {
    width: 100%;
    background-image: url(img/pattern.jpg);
    background-repeat: repeat;
}

.chavo {
    width: 1170px;
    margin: 0 auto;
}

.chavo-title {
    font-size: 35pt;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.block-4 {
    margin-bottom: 10%;
}

.footer-wrapper {
    width: 100%;
    background-color: #ffffff;
}

.footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
    padding-bottom: 45px;
}

.footer__social p, .copyright p {
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

.accordion {
    width: 100%;
    background-color: #ffffff;
    font-size: 18pt;
    border-radius: 10px;
    border: none;
    padding: 20px;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.accordion span {
    color: #bfbfbf;
}

.active, .accordion:hover {
    color: #ec7c30;
    border: none;
}

.active span, .accordion:hover span {
    color: #ffcfae;
}

.accordion:after {
    content: url('img/toggle-btn.png');
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url('img/toggle-up-btn.png');
}

.panel {
    padding: 0 18px;
    background-color: #f0f3f5;
    max-height: 0;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    transition: max-height 0.3s ease-out;
}

.accordion-wrapper {
    margin-bottom: 35px;
}

@media (min-width: 1201px) and (max-width:1601px) {
    .main-banner {
        background-image: url(img/1600x632.png);
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .main-banner {
        background-image: url(img/1200.png);
    }
}

@media (max-width: 1100px) {
    .main-banner {
        background-image: url(img/720.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 532px;
    }
    .benefits-item {
        width: 145px;
    }
    .main-banner__content, .content-wrapper, .chavo, .footer {
        width: 92%;
        margin: 10px;
    }
    .main-banner__buttons, .panel, .benefits-item, .content__text, .footer {
        font-size: 12pt;
    }
    .content__title {
        font-size: 20pt;
    }
    /* .block-2 .content-block__body, .block-4 .content-block__body {
        margin-left: 406px;
    } */
    .block-2 img, .block-4 img {
        position: absolute;
        left: 0;
        top: -30px;
    }
    .block-1 {
        background-image: url(img/content-1.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position-x: -5%;
        background-position-y: 33%;
    }
    .block-1 img {
        display: none;
    }
    .block-2 {
        background-image: url(img/content-2.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position-x: -5%;
        background-position-y: 33%;
    }
    .block-2 img {
        display: none;
    }
    .block-3 {
        background-image: url(img/content-3.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position-x: -5%;
        background-position-y: 33%;
    }
    .block-3 img {
        display: none;
    }
    .block-4 {
        background-image: url(img/content-4.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position-x: -5%;
        background-position-y: 33%;
    }
    .block-4 img {
        display: none;
    }
    /* .block-1 .content-block__body, .block-2 .content-block__body, .block-3 .content-block__body, .block-4 .content-block__body {
        margin-left: 33%;
    } */
    .footer, .footer__social {
        flex-direction: column;
        text-align: center;
    }
    .footer__social {
        padding-bottom: 30px;
    }
    .footer {
        padding-bottom: 10%;
    }
    .footer__social div {
        display: flex;
        justify-content: space-around;
    }
    .footer__social p {
        padding-bottom: 20px;
    }
    .main-banner__button-2 {
        justify-content: center;
        flex-direction: column;
        display: flex;
        height: fit-content;
        padding: 20px 10px;
    }
    .main-banner__button-1 {
        padding: 20px;
        margin-right: 33px;
    }
    .main-banner__buttons {
        flex-direction: unset;
        width: auto;
    }
    .header {
        width: 90%;
    }
    .chavo-title {
        font-size: 25pt;
    }
    .accordion {
        font-size: 14pt;
    }
}
@media (min-width: 551px) and (max-width: 1100px) {
    .block-1 .content-block__body, .block-2 .content-block__body, .block-3 .content-block__body, .block-4 .content-block__body {
        margin-left: 33%;
    }
}
@media (max-width:700px) {
    .main-logo img {
        width: 200px;
    }
}

@media (max-width:550px) {
    .main-banner__buttons {
        flex-direction: column;
        width: 100%;
    }
    .main-banner__button-1 {
        margin-right: 0px;
    }
    .benefits {
        display: grid;
        z-index: 1;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 2em;
    }
    .block-2 .content-block__body, .block-4 .content-block__body, .block-1 .content-block__body, .block-3 .content-block__body {
        margin-top: 1em;
        margin-left: 1em;
        margin-bottom: 3em;
    }
    .block-1, .block-2, .block-3, .block-4 {
        background-image: none;
    }
    .content-block {
        height: auto;
    }
    .chavo-title {
        padding-bottom: 10%;
    }
    .footer__social {
        width: 70%;
    }
    .footer {
        margin: 0;
    }

}